@media screen and (max-width: 767px) {
	h1.the-page-title {
		font-size: 3rem;
	}

	.hidden-on-small-screens {
		display: none;
	}

	.mobile-container {
		width: 100%;
		margin: auto;
		/* background-color: #555; */
		color: #17252a;
		/* border-radius: 10px; */
	}

	.topnav {
		overflow: hidden;
		background-color: #17252a;
		position: relative;
		height: 63px;
	}

	a.hamburger_icon {
    float: right;
    display: block;
    color: #def2f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	}

	a.mobile_brand_name {
		float: left;
		display: block;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	.side_nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #17252a;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
	}

	.side_nav a {
		padding: 10px 10px 10px 30px;
		text-decoration: none;
		font-size: 22px;
		color: #def2f1;
		display: block;
		transition: 0.3s;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
	}

	.side_nav a:hover {
		color:#fff;
	}

	.side_nav .btn_close {
		position: absolute;
		top:0;
		right: 22px;
		font-size: 36px;
		margin-left: 50px;
	}

	

	h1.logo {
		font-size: 1rem;
	}

	h1.logo:hover {
		background-color: #def2f1;
		color: #17252a;
	}

	/* SHOWCASE LAYOUT MOBILE */

	.showcase-container {
		padding: 0 1rem;
	}

	/* PORFOLIO LAYOUT */
	img.the-work-image {
    margin: auto;
	}

	.work_link {
    text-align: center;
	}

	/* END PORFOLIO LAYOUT */

}

@media (max-width: 500px) {
	h1.the-page-title {
		font-size: 2.5rem;
	}

	.showcase-container p {
		font-size: 1.5rem;
	}
}

/* CONTACT LAYOUT MOBILE */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column,
	input[type='submit'] {
		width: 100%;
		margin-top: 0;
	}
}
