* {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #3aafa9;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
}

/*============
UTILITIES 
=================================*/

.page-title {
	padding: 1em;
	color: #17252a;
	text-align: center;
}

h1.the-page-title {
	font-size: 3.5rem;
	margin: 0.4rem;
}

.alert-danger {
	background-color: #f44336;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.alert-success {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

/*============
SPEACIAL CLASSES
=================================*/

.clear-fix {
	clear: both;
}

/*============
HEADER LAYOUT
=================================*/

header {
	padding: 2em;
}

.header-container {
	overflow: hidden;
}

.logo-container {
	float: left;
}

h1.logo {
	font-size: 1.5rem;
	color: #feffff;
}

nav {
	float: right;
}

.nav-container a {
	margin: 1em 0em 1em 2em;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 400;
	color: #feffff;
	cursor: pointer;
	text-decoration: none;
}

.nav-container a:hover,
.nav-container a:focus {
	color: #17252a;
	transition: color 0.5s ease-out;
}

/* SHOWCASE LAYOUT */

#showcase {
	height: 77vh;
}

.showcase-container {
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0 3rem;
}

h1.the-showcase-title {
	color: #feffff;
}

/* TYPEWRITER */

/* Cursor */
.txt-type > .txt {
	border-right: 0.2rem solid #17252a;
}

.showcase-container span {
	color: #17252a;
}

.showcase-container h2 {
	font-size: 2rem;
	color: #feffff;
	margin: 0.4rem;
}

/*============
ABOUT LAYOUT
=================================*/
/*
.about-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.about-wrapper > * {
	padding: 1em;
}

h3.skill-title {
	margin: 1rem 0 1rem 0;
}

.skills-content {
	width: 100%;
	background-color: #feffff;
	border-radius: 20px;
}

.skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #feffff;
}

.html {
	width: 90%;
	background-color: #17252a;
}
.css {
	width: 80%;
	background-color: #2b7a78;
}

.js {
	width: 65%;
	background-color: #2b7a78;
}
.php {
	width: 60%;
	background-color: #def2f1;
	color: #17252a;
}

.side-paragraph p {
	line-height: 1.5;
	color: #feffff;
	padding-top: 1em;
}

.side-paragraph h3 {
	padding-top: 1em;
}
*/

/* CONTACT LAYOUT */

/* #contact {} */

.contact-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.contact-wrapper {
	box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

/*all direct children inside element*/
.contact-wrapper > * {
	padding: 1em;
}

/* FORM STYLES */

.contact form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.contact form label {
	display: block;
}

.contact form p {
	margin: 0;
}

p.full {
	grid-column: 1/3;
}

/* Style inputs */
input[type='text'],
select,
textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid #17252a;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type='email'] {
	width: 100%;
	padding: 1em;
	border: 1px solid #17252a;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type='submit'] {
	background-color: #17252a;
	color: #feffff;
	padding: 1em;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

input[type='submit']:hover,
input[type='submit']:focus {
	background-color: #def2f1;
	color: #17252a;
	outline: 0;
	transition: background-color 1s ease-out;
}

/*FOOTER LAYOUT*/

footer {
	width: 100%;
	background-color: #3aafa9;
	padding: 0.5em;
}

footer p {
	color: #17252a;
	font-weight: bold;
	text-align: center;
	margin: 0.5em;
}

/* MEDIA LAYOUT */

@media screen and (min-width: 768px) {
	.hidden-on-large-screens {
		display: none;
	}

	/*ABOUT*/
	#about {
		height: 77vh;
	}

	.about-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.about-wrapper > * {
		padding: 2rem;
	}

	/* CONTACT */
	.contact-wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}

	/* PORTFOLIO  */

	.grid-2 {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1200px) {
	h1.the-page-title {
		font-size: 5rem;
	}

}

/*============
PORTFOLIO LAYOUT
=================================*/

.main {
	height: 77vh;
	margin: auto;
}

.portfolio-container {
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0 3rem;
}

.page-title-container {
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: center;
}

h1.the-portfolio-title {
	color: #17252a;
}

.work-image {
	padding: 1em;
}

img.the-work-image {
	display: block;
	width: 30%;
	height: auto;
	box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.work-links {
	padding: 1em;
}

a.the-work-link {
	margin-right: 1rem;
	text-decoration: none;
	text-transform: capitalize;
	color: #feffff;
}

a.the-work-link:hover,
a.the-work-link:focus {
	color: #17252a;
	transition: color 0.5s ease-out;
}

/*
END PORTFOLIO LAYOUT
*/
