* {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #3aafa9;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
}

/*============
UTILITIES 
=================================*/

.page-title {
	padding: 1em;
	color: #17252a;
	text-align: center;
}

h1.the-page-title {
	font-size: 3.5rem;
	margin: 0.4rem;
}

.alert-danger {
	background-color: #f44336;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.alert-success {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

/*============
SPEACIAL CLASSES
=================================*/

.clear-fix {
	clear: both;
}

/*============
HEADER LAYOUT
=================================*/

header {
	padding: 2em;
}

.header-container {
	overflow: hidden;
}

.logo-container {
	float: left;
}

h1.logo {
	font-size: 1.5rem;
	color: #feffff;
}

nav {
	float: right;
}

.nav-container a {
	margin: 1em 0em 1em 2em;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	color: #feffff;
	cursor: pointer;
	text-decoration: none;
}

.nav-container a:hover,
.nav-container a:focus {
	color: #17252a;
	transition: color 0.5s ease-out;
}

/* SHOWCASE LAYOUT */

#showcase {
	height: 77vh;
}

.showcase-container {
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0 3rem;
}

h1.the-showcase-title {
	color: #feffff;
}

/* TYPEWRITER */

/* Cursor */
.txt-type > .txt {
	border-right: 0.2rem solid #17252a;
}

.showcase-container span {
	color: #17252a;
}

.showcase-container h2 {
	font-size: 2rem;
	color: #feffff;
	margin: 0.4rem;
}

/*============
LAYOUT
=================================*/

/* END */

/* CONTACT LAYOUT */

/* #contact {} */

.contact_title {
	text-transform: uppercase;
}

.contact-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.contact-wrapper {
	box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

/*all direct children inside element*/
.contact-wrapper > * {
	padding: 1em;
}

/* FORM STYLES */

.contact form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.contact form label {
	display: block;
}

.contact form p {
	margin: 0;
}

p.full {
	grid-column: 1/3;
}

/* Style inputs */
input[type='text'],
select,
textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid #17252a;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type='email'] {
	width: 100%;
	padding: 1em;
	border: 1px solid #17252a;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type='submit'] {
	background-color: #17252a;
	color: #feffff;
	padding: 1em;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

input[type='submit']:hover,
input[type='submit']:focus {
	background-color: #def2f1;
	color: #17252a;
	outline: 0;
	transition: background-color 1s ease-out;
}

/*FOOTER LAYOUT*/

footer {
	width: 100%;
	background-color: #3aafa9;
	padding: 0.5em;
}

footer p {
	color: #17252a;
	font-weight: bold;
	text-align: center;
	margin: 0.5em;
}

/* MEDIA LAYOUT */

@media screen and (min-width: 768px) {
	.hidden-on-large-screens {
		display: none;
	}

	/*ABOUT*/
	#about {
		height: 77vh;
	}

	.about-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.about-wrapper > * {
		padding: 2rem;
	}

	/* CONTACT */
	.contact-wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}

	/* PORTFOLIO  */

	.grid-2 {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}
	.work_item {
		display: flex;
		margin-bottom: 100px;
		margin-top: 100px;
	}

	hr {
		height: 1px;
		background-color: #17252a;
		border: none;
	}

	/* End Portfolio */
}

@media (min-width: 1200px) {
	h1.the-page-title {
		font-size: 5rem;
	}
}

/*============
PORTFOLIO LAYOUT
=================================*/

.portfolio-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.page-title-container {
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: center;
}

.portfolio_title {
	color: #17252a;
	text-transform: uppercase;
}

.work-container {
	flex-direction: column;
}

.work-container a {
	text-decoration: none;
	color: #feffff;
}

.work {
	padding: 1em;
	/* height: 60vh; */
}

.work_item p {
	margin-bottom: 20px;
}

.work_item h3 {
	margin-bottom: 20px;
	font-size: 28px;
	text-transform: capitalize;
}

img.the-work-image {
	display: block;
	width: 50%;
	height: auto;
	box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.work_description {
	margin-left: 47px;
}

a.button {
	background-color: #17252a;
	/* border: none; */
	border-radius: 12px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-right: 1rem;
	text-transform: capitalize;
}

/*
END PORTFOLIO LAYOUT
*/

@media screen and (max-width: 767px) {
	h1.the-page-title {
		font-size: 3rem;
	}

	.hidden-on-small-screens {
		display: none;
	}

	.mobile-container {
		width: 100%;
		margin: auto;
		/* background-color: #555; */
		color: #17252a;
		/* border-radius: 10px; */
	}

	.topnav {
		overflow: hidden;
		background-color: #17252a;
		position: relative;
		height: 63px;
	}

	a.hamburger_icon {
		float: right;
		display: block;
		color: #def2f1;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	a.mobile_brand_name {
		float: left;
		display: block;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	.side_nav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background: #17252a;
		opacity: 0.9;
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	.side_nav a {
		padding: 10px 10px 10px 30px;
		text-decoration: none;
		font-size: 22px;
		color: #def2f1;
		display: block;
		transition: 0.3s;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
	}

	.side_nav a:hover {
		color: #fff;
	}

	.side_nav .btn_close {
		position: absolute;
		top: 0;
		right: 22px;
		font-size: 36px;
		margin-left: 50px;
	}

	h1.logo {
		font-size: 1rem;
	}

	h1.logo:hover {
		background-color: #def2f1;
		color: #17252a;
	}

	/* SHOWCASE LAYOUT MOBILE */

	.showcase-container {
		padding: 0 1rem;
	}

	/* PORFOLIO LAYOUT */

	.work {
		height: auto;
	}

	img.the-work-image {
		margin: auto;
		/* width: 50%; */
	}

	.work_description {
		margin: 0px;
		text-align: center;
		padding: 1rem;
	}

	.work_item h3 {
		font-size: 18px;
	}

	/* END PORFOLIO LAYOUT */
}

@media (max-width: 500px) {
	h1.the-page-title {
		font-size: 2.5rem;
	}

	.showcase-container p {
		font-size: 1.5rem;
	}
}

/* CONTACT LAYOUT MOBILE */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column,
	input[type='submit'] {
		width: 100%;
		margin-top: 0;
	}
}
