* {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #3aafa9;
	line-height: 1.6;
}

/*SPEACIAL CLASSES*/

.clear-fix {
	clear: both;
}

/* HEADER LAYOUT */

header {
	padding: 2em;
	/* border-bottom: 2px solid #17252a; */
}

.header-container {
	overflow: hidden;
}

.logo-container {
	float: left;
}

h1.logo {
	font-size: 1.5rem;
	color: #feffff;
	font-family: 'Montserrat', sans-serif;
}

nav {
	float: right;
}

/* .nav-container{} */

.nav-container a {
	margin: 1em 0em 1em 2em;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 400;
	color: #feffff;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.nav-container a:hover,
.nav-container a:focus {
	color: #17252a;
	transition: color 0.5s ease-out;
}

/* SHOWCASE LAYOUT */

#showcase {
	height: 77vh;
}

.showcase-container {
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0 3rem;
}

.showcase-container h1 {
	font-size: 3.5rem;
	font-family: 'Montserrat', sans-serif;
	margin: 0.4rem;
	color: #feffff;
}

/* TYPEWRITER */

/* Cursor */
.txt-type > .txt {
	border-right: 0.2rem solid #17252a;
}

.showcase-container span {
	color: #17252a;
}

.showcase-container h2 {
	font-size: 2rem;
	/* text-transform: capitalize; */
	font-family: 'Montserrat', sans-serif;
	color: #feffff;
	margin: 0.4rem;
}

/*  ABOUT LAYOUT  */

/* #about {} */

.about-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

/* .page-title-container {} */

h1.page-title {
	text-align: center;
}

.about-wrapper > * {
	padding: 1em;
}

/* .skills-container {}  */

h3.skill-title {
	margin: 1rem 0 1rem 0;
	font-family: 'Montserrat', sans-serif;
}

/* .about-wrapper {
  width: 80%;
  overflow: hidden;
  margin: auto;
  height: 100%;
} */

/* .page-title-container h1 {
  text-transform: uppercase;
  margin: 0.625em 0;
  font-family: "Montserrat", sans-serif;
  color: #17252a;
} */

/* .skills-container {
  float: left;
  width: 60%;
  padding-right: 5em;
  font-family: "Montserrat", sans-serif;
} */

.skills-content {
	width: 100%;
	background-color: #feffff;
	border-radius: 20px;
}

.skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #feffff;
}

.html {
	width: 90%;
	background-color: #17252a;
}
.css {
	width: 80%;
	background-color: #2b7a78;
}

.js {
	width: 65%;
	background-color: #2b7a78;
}
.php {
	width: 60%;
	background-color: #def2f1;
	color: #17252a;
}

/* .side-paragraph {} */

.side-paragraph p {
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	color: #feffff;
	padding-top: 1em;
}

.side-paragraph h3 {
	padding-top: 1em;
	font-family: 'Montserrat', sans-serif;
}

/* CONTACT LAYOUT */

/* #contact {} */

.contact-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.page-title-container {
	padding: 2em;
}

h1.page-title {
	text-transform: capitalize;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #17252a;
}

.contact-wrapper {
	box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

/*all direct children inside element*/
.contact-wrapper > * {
	padding: 1em;
}

/* .company-info {}  */

/* .contact {} */

/* FORM STYLES */

.contact form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.contact form label {
	display: block;
	font-family: 'Montserrat', sans-serif;
}

.contact form p {
	margin: 0;
}

p.full {
	grid-column: 1/3;
}

/* Style inputs */
input[type='text'],
select,
textarea {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	padding: 1em;
	border: 1px solid #17252a;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type='email'] {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	padding: 1em;
	border: 1px solid #17252a;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type='submit'] {
	font-family: 'Montserrat', sans-serif;
	background-color: #17252a;
	color: #feffff;
	padding: 1em;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

input[type='submit']:hover,
input[type='submit']:focus {
	background-color: #def2f1;
	color: #17252a;
	outline: 0;
	transition: background-color 1s ease-out;
}

/*FOOTER LAYOUT*/

footer {
	width: 100%;
	background-color: #3aafa9;
	padding: 0.5em;
	/* border: 2px solid #2b7a78; */
}

footer p {
	font-family: 'Montserrat', sans-serif;
	color: #17252a;
	font-weight: bold;
	text-align: center;
	margin: 0.5em;
}

/* MEDIA LAYOUT */

@media screen and (min-width: 768px) {
	.hidden-on-large-screens {
		display: none;
	}

	/*ABOUT*/
	#about {
		height: 77vh;
	}

	.about-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.about-wrapper > * {
		padding: 2rem;
	}

	h1.page-title {
		text-align: left;
	}

	/* CONTACT */
	.contact-wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
}

@media (min-width: 1200px) {
	.showcase-container h1 {
		font-size: 5rem;
	}
}

/*============
PORTFOLIO LAYOUT
=================================*/

/*
END PORTFOLIO LAYOUT
*/
